numpy==1.19.2
easydict==1.9
torchvision==0.2.1
scipy==1.2.1
torch==1.0.0
opencv_python==4.4.0.44
matplotlib==3.3.2
imageio==2.9.0
h5py==3.1.0
ipython==7.19.0
Pillow==8.1.0
PyYAML==5.3.1
tensorflow==2.4.0
